﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/_ClothStoreMaster.Master" AutoEventWireup="true" CodeBehind="AdminDashBoard.aspx.cs" Inherits="E_Cloth_Store.Master.AdminDashBoard" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <h3>Welcome to Admin</h3>
</asp:Content>
