﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master/_ClothStoreMaster.Master" AutoEventWireup="true" CodeBehind="Purchase.aspx.cs" Inherits="E_Cloth_Store.Trasaction.Purchase" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">  
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="mainContent" runat="server">
    
</asp:Content>
